<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="description" content="A simple website devoted to transforming text with classical ciphers">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <header>
        <a id="cipherLink" href="https://en.wikipedia.org/wiki/Classical_cipher">About Classical Ciphers</a>
    </header>

    <section class="main">

        <section class="siteDescription">
            <h1 id="title">Classical Ciphers</h1>
            <h3 id="subtitle">A simple website devoted to transforming text with the Caesar, Transposition, and Vigen&egravere ciphers</h3>
        </section>

        <section class="textInputArea">
            <textarea class="cipherTextArea" placeholder="Enter Text..."></textarea>
        </section>

        <section class="cipherOptions">
            <form class="cipherForm">
                <fieldset>
                    <legend>Cipher Options</legend>

                    <div class="cipher">
                        <label for="cipherType">Cipher:</label>
                        <select id="selectCipher" name="cipherType">
                            <option value="Caesar">Caesar</option>
                            <option value="Transposition">Transposition</option>
                            <option value="Vigenere">Vigen&egravere</option>
                        </select>
                    </div>

                    <div class="theKey">
                        <label for="key">Key:</label>
                        <input type="text" id="key" name="cipherKey" size="5" maxlength="3" placeholder="Enter A Number">
                    </div>

                    <div class="method">
                        <label for="cipherType">Method:</label>
                        <select name="encryptDecript">
                            <option value="Encrypt">Encrypt</option>
                            <option value="Decrypt">Decrypt</option>
                        </select>
                    </div>

                    <div id="button">
                        <button type="submit">Go</button>
                    </div>

                </fieldset>
            </form>
        </section>
        <!-- END OF CIPHER OPTIONS SECTION-->
    </section>
    <!-- END OF MAIN SECTION-->

    <footer>
        <p>Ross Weinstein</p>
    </footer>
</body>

</html>